$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

.wrapper
  max-width 940px
  width 940px
  overflow hidden
  margin 0 auto
  padding: 7rem 6rem